<?xml version="1.0" encoding="utf-8"?>
<SenparcConfigs>
	<SenparcConfig>
		<Id>1</Id>
		<Name>Client-SqlServer</Name>
		<!--本地联网测试测试数据库（可在appsettings.json中修改DatabaseName配置）-->
		<ConnectionStringFull><![CDATA[Server=192.168.8.254,14480;Database=SCF_XFY; User ID=sa; Password=@WSXzaq1;Application Name=fxu]]></ConnectionStringFull>
		<ApplicationPath><![CDATA[/]]></ApplicationPath>
	</SenparcConfig>
	
	<!-- Local 开始 -->
	<SenparcConfig>
		<Id>2</Id>
		<Name>Local-Sqlite</Name>
		<!--本地数据库  Filename=MyDatabase.db -->
		<ConnectionStringFull><![CDATA[Filename=:memory:]]></ConnectionStringFull>
		<ApplicationPath><![CDATA[/]]></ApplicationPath>
	</SenparcConfig>
	<SenparcConfig>
		<Id>3</Id>
		<Name>Local-SqlServer</Name>
		<!--本地Demo默认数据库（可在appsettings.json中修改DatabaseName配置）-->
		<ConnectionStringFull><![CDATA[Server=.\;Database=NCF; initial catalog=NCF;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework]]></ConnectionStringFull>
		<!--容器内使用需要使用IP-->
		<!--<ConnectionStringFull><![CDATA[Server=192.168.0.136;Database=NCF; initial catalog=NCF;User ID=sa; Password=2wsx@WSX;MultipleActiveResultSets=True;App=EntityFramework]]></ConnectionStringFull>-->
		<ApplicationPath><![CDATA[/]]></ApplicationPath>
	</SenparcConfig>
	<SenparcConfig>
		<Id>4</Id>
		<Name>Local-MySql</Name>
		<!--本地Demo默认数据库（可在appsettings.json中修改DatabaseName配置）-->
		<ConnectionStringFull>
			<![CDATA[Server=localhost;Database=NCF;Uid=root;Pwd=RootPwd4@NeuCharFramework;]]></ConnectionStringFull>
		<ApplicationPath><![CDATA[/]]></ApplicationPath>
	</SenparcConfig>
	<!-- Local 结束 -->

</SenparcConfigs>