<?xml version="1.0" encoding="utf-8"?>
<SenparcConfigs>
	<SenparcConfig>
		<Id>1</Id>
		<Name>Client-SqlServer</Name>
		<!--本地联网测试测试数据库（可在appsettings.json中修改DatabaseName配置）-->
		<ConnectionStringFull><![CDATA[Server=192.168.8.254,14480;Database=NCF_XFY; User ID=sa; Password=@WSXzaq1;Application Name=fxu]]></ConnectionStringFull>
		<ApplicationPath><![CDATA[/]]></ApplicationPath>
	</SenparcConfig>

	<!-- Local 开始 -->
	<SenparcConfig>
		<Id>2</Id>
		<Name>Local-Sqlite</Name>
		<!--本地数据库  Filename=MyDatabase.db -->
		<ConnectionStringFull><![CDATA[Filename=:memory:]]></ConnectionStringFull>
		<ApplicationPath><![CDATA[/]]></ApplicationPath>
	</SenparcConfig>
	<SenparcConfig>
		<Id>3</Id>
		<Name>Local-SqlServer</Name>
		<!--本地Demo默认数据库（可在appsettings.json中修改DatabaseName配置）-->
		<ConnectionStringFull><![CDATA[Server=.\;Database=NCF; initial catalog=NCF;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework]]></ConnectionStringFull>
		<!--<ConnectionStringFull><![CDATA[Server=192.168.8.254,14480;Database=NCF_Dapr; User ID=sa; Password=@WSXzaq1;Application Name=fxu]]></ConnectionStringFull>-->
		<!--容器内使用需要使用IP-->
		<!--<ConnectionStringFull><![CDATA[Server=172.17.160.1; initial catalog=NCF;User ID=sa; Password=2wsx@WSX;MultipleActiveResultSets=True;App=EntityFramework]]></ConnectionStringFull>-->
		<ApplicationPath><![CDATA[/]]></ApplicationPath>
	</SenparcConfig>
	<SenparcConfig>
		<Id>4</Id>
		<Name>Local-MySql</Name>
		<!--本地Demo默认数据库（可在appsettings.json中修改DatabaseName配置）-->
		<ConnectionStringFull>
			<![CDATA[Server=localhost;Database=NCF;Uid=root;Pwd=RootPwd4@NeuCharFramework;]]>
		</ConnectionStringFull>
		<ApplicationPath><![CDATA[/]]></ApplicationPath>
	</SenparcConfig>
	<SenparcConfig>
		<Id>5</Id>
		<Name>Local-PostgreSQL</Name>
		<!--本地Demo默认数据库（可在appsettings.json中修改DatabaseName配置）-->
		<ConnectionStringFull>
			<![CDATA[Server=127.0.0.1;Port=5432;User Id=postgres;Password=RootPwd4@NeuCharFramework;Database=NCF;]]>
		</ConnectionStringFull>
		<ApplicationPath><![CDATA[/]]></ApplicationPath>
	</SenparcConfig>
	<SenparcConfig>
		<Id>6</Id>
		<Name>Local-Oracle</Name>
		<ConnectionStringFull>
			<![CDATA[Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=172.26.79.41) (PORT=1521)))(CONNECT_DATA=(SERVICE_NAME=orcl)));Persist Security Info=True;User Id=system; Password=pAs4al71;]]>
		</ConnectionStringFull>
		
		<!--本地-->
		<!--<ConnectionStringFull>
			<![CDATA[Data Source=NCF;User Id=SYS;Password=pAs4al71]]>
		</ConnectionStringFull>-->
		<ApplicationPath><![CDATA[/]]></ApplicationPath>
	</SenparcConfig>
	<!-- Local 结束 -->

</SenparcConfigs>