################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

.vs/
bin/
obj/
.pdb
.user
.vscode/
/src/back-end/Senparc.Web/wwwroot/bower_components
/src/back-end/Senparc.Web/logs/
*.user
/src/back-end/Senparc.Web.OldMvc
/src/back-end/Senparc.Web/App_Data/SenparcTraceLog/*
# /src/back-end/Senparc.Web/wwwroot/lib/*
/src/back-end/ProjectFileManager
/src/back-end/Senparc.Web/App_Data/*.bak
/src/back-end/Senparc.Web/wwwroot/NcfDocs
/src/back-end/Senparc.Xncf.TemplateTest/*
/src/back-end/Senparc.Database/Senparc.Database.dbmdl
/src/back-end/Senparc.Database/Senparc.Database.jfm
/src/back-end/Senparc.Web/App_Data/logs/*
/src/back-end/NCF.sln-backup-*.sln
/src/back-end/netstandard2.1
/src/back-end/Senparc.Xncf.XncfBuilder.Template.*
/src/back-end/Senparc.Web.DatabasePlant/App_Data/SenparcTraceLog
/src/back-end/published
/src/back-end/Senparc.Web/App_Data/ApiDocXml
/src/back-end/Senparc.Web/wwwroot/NcfDocs-Old202110251817008286/branch
/src/back-end/Senparc.Web/App_Data/*.Dat
/BuildOutPut/
/src/back-end/Senparc.Web/appsettings.Development.json
/src/back-end/Senparc.Web/scripts/app.js.map
/src/back-end/Senparc.Web/scripts/app.js
/src/back-end/Senparc.Xncf.Accounts/App_Data/SenparcTraceLog
/src/back-end/Senparc.Xncf.Installer/App_Data/SenparcTraceLog
/src/front-end/Senparc.Xncf.Account.FrontEnd
/src/back-end/Senparc.Web/App_Data/WeChat_OfficialAccount
/src/back-end/Template_OrgName.Xncf.Template_XncfName
/src/back-end/TestResults
/src/back-end/Senparc.Xncf.WeixinManagerBase.Tests/App_Data/SenparcTraceLog
/src/back-end/Senparc.Web/wwwroot/docs
/src/BuildOutPut
/src/NCF.Template.sln
/src/NCF.Template.csproj
/src/back-end/.template.config
/src/front-end/admin-module/dist
/src/front-end/admin-main/public/dist
/src/front-end/admin-main/node_modules
/src/front-end/admin-main/dist
/src/front-end/admin-module/node_modules
/src/back-end/Senparc.Web/App_Data/OpenAiImageTemp
/src/TemplateBuilder
/src/back-end/Senparc.Web/App_Data/ApiDocXML
/src/back-end/Senparc.Web/App_Data/ApiDocXML
/src/back-end/Senparc.Web/App_Data/ApiDocXML
/src/back-end/Senparc.Web/App_Data/ApiDocXML
*.DS_Store
/src/back-end/Senparc.Web/Domain/PromptPlugins/XncfBuilderPlugin
