    <el-menu-item index="1">
        <a :href="'/Admin/Installer/Index?uid='+moduleData.xncfModuleDto.uid"><i class="fa fa-laptop"></i>首页</a>
    </el-menu-item>
    <el-menu-item index="2">
        <a :href="'/Admin/Installer/DatabaseSample?uid='+moduleData.xncfModuleDto.uid"><i class="fa fa-bookmark-o"></i>数据库操作示例</a>
    </el-menu-item>