<?xml version="1.0" encoding="utf-8"?>
<SenparcConfigs>
	<!-- Local 开始 -->
	<SenparcConfig>
		<Id>1</Id>
		<Name>Local-SqlServer</Name>
		<!--（推荐）容器内或部署在外部，需要需要使用IP及（或）密码登录-->
		<ConnectionStringFull><![CDATA[Server=10.37.129.2; initial catalog=NCF;User ID=sa; Password=RootPwd4@NeuCharFramework;MultipleActiveResultSets=True;App=EntityFramework]]></ConnectionStringFull>
		<ApplicationPath><![CDATA[/]]></ApplicationPath>
		
		<!--本地Demo默认数据库（可在appsettings.json中修改DatabaseName配置）-->
		<!--<ConnectionStringFull><![CDATA[Server=.\;Database=NCF; Integrated security=True;MultipleActiveResultSets=True;App=EntityFramework]]></ConnectionStringFull>-->
	</SenparcConfig>
	
	<!-- Local 结束 -->

</SenparcConfigs>