<?xml version="1.0" encoding="utf-8"?>
<log4net>
	<!-- OFF, FATAL, ERROR, WARN, INFO, DEBUG, ALL -->
	<!-- Set root logger level to ERROR and its appenders -->
	<root>
		<level value="ALL"/>
		<appender-ref ref="SysLogAppender"/>
	</root>

	<!-- Print only messages of level DEBUG or above in the packages -->
	<logger name="WebLogger_what?">
		<level value="DEBUG"/>
	</logger>

	<appender name="SysLogAppender" type="log4net.Appender.RollingFileAppender,log4net" >
		<param name="File" value="App_Data/logs/" />
		<!--文件路径-->
		<param name="AppendToFile" value="true" />
		<!--是否累加-->
		<param name="RollingStyle" value="Composite" />
		<param name="MaximumFileSize" value="500KB" />
		<!--文件最大容量-->
		<param name="maxSizeRollBackups" value="-1" />
		<param name="DatePattern" value="&quot;log4net/logs_&quot;yyyyMMdd&quot;/log.txt&quot;" />
		<param name="StaticLogFileName" value="false" />
		<layout type="log4net.Layout.PatternLayout,log4net">
			<param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n : %l R=%r T=%t%n" />
			<param name="Header" value="&#13;&#10;----------------------header--------------------------&#13;&#10;" />
			<param name="Footer" value="&#13;&#10;----------------------footer--------------------------&#13;&#10;" />
		</layout>
	</appender>

</log4net>