@page "{handler?}"
@model Senparc.Areas.Admin.Areas.Admin.Pages.CourseAttach_IndexModel
@addTagHelper *, Senparc.Areas.Admin
@using System.Web.Mvc
@{
    ViewData["Title"] = "课程附件管理"; Layout = "_Layout_Vue";
}
@section Style{
    <link href="~/css/Admin/Pages/CourseAttach/Index.css" rel="stylesheet" />
}
@section breadcrumbs {
    <el-breadcrumb-item>系统管理</el-breadcrumb-item>
    <el-breadcrumb-item>课程附件列表</el-breadcrumb-item>
}
<div>
    <div class="courseattach-info">
        <div class="filter-container">
            <el-input @@keyup.enter.native="handleFilter" style="width: 200px;" class="filter-item" :placeholder="'搜索关键字'" v-model="listQuery.key">
            </el-input>
            <el-button class="filter-item" v-waves icon="el-icon-search" @@click="handleFilter">搜索</el-button>
            <el-button class="filter-item" v-has="['courseattach-add']" type="primary" icon="el-icon-plus" @@click="handleEdit">增加</el-button>
        </div>
        <el-table :data="tableData"
                  border
                  style="width: 100%">
            <el-table-column type="selection" align="center" width="55"></el-table-column>
            <template v-for="(headerItem,index) in headerList">
                <el-table-column :label="headerItem.description" v-if="headerItem.browsable" min-width="120px" :key="index">
                    <template slot-scope="scope">
                        <span>{{headerItem.type=="DateTime"?formaTableTime(scope.row[headerItem.key]):scope.row[headerItem.key]}}</span>
                    </template>
                </el-table-column>
            </template>
            <el-table-column label="操作" align="center">
                <template slot-scope="scope">
                    <el-button size="mini"
                               type="primary"
                               v-has="['courseattach-edit']"
                               @@click="handleEdit(scope.$index, scope.row)">编辑</el-button>
                    <template v-has="['courseattach-delete']">
                        <el-popconfirm placement="top" title="确认删除此条数据吗？" @@on-confirm="handleDelete(scope.$index, scope.row)">
                            <el-button size="mini" type="danger" slot="reference">删除</el-button>
                        </el-popconfirm>
                    </template>
                </template>
            </el-table-column>
        </el-table>
        <pagination :total="paginationQuery.total"
                    :page.sync="listQuery.pageIndex"
                    :limit.sync="listQuery.pageSize"
                    @@pagination="getList"></pagination>
        <!--编辑、新增 -->
        <el-dialog :title="dialog.title" :visible.sync="dialog.visible" :close-on-click-modal="false">
            <el-form ref="dataForm"
                     :rules="dialog.rules"
                     :model="dialog.data"
                     label-position="left"
                     label-width="100px"
                     style="max-width: 800px; margin-left:50px;">

                <el-form-item size="small" :label="'附件名'" prop="name" v-if="Object.keys(dialog.data).indexOf('name')>=0">
                    <el-input v-model="dialog.data.name"></el-input>
                </el-form-item>

                <el-form-item size="small" :label="'路径'" prop="path" v-if="Object.keys(dialog.data).indexOf('path')>=0">
                    @*<el-input v-model="dialog.data.path"></el-input>*@
                    <el-upload 
                               ref="upload"
                               class="upload-demo"
                               drag
                               action="/Admin/UploadFile/Index?handler=Upload"
                               :before-upload="beforeBannerUpload"
                               :auto-upload="false"
                               name="files"
                               multiple
                               :show-file-list="false"
                               >
                        <i class="el-icon-upload"></i>
                        <div class="el-upload__text">将文件拖到此处，或<em>点击上传</em></div>
                        <div class="el-upload__tip" slot="tip">仅支持zip,pdf,jpeg,jpg,gif,png,md,doc,txt,csv格式文件，且不超过500kb</div>
                    </el-upload>
                </el-form-item>

                <el-form-item size="small" :label="'备注'" prop="adminRemark" v-if="Object.keys(dialog.data).indexOf('adminRemark')>=0">
                    <el-input v-model="dialog.data.adminRemark"></el-input>
                </el-form-item>

                <el-form-item size="small" :label="'说明'" prop="remark" v-if="Object.keys(dialog.data).indexOf('remark')>=0">
                    <el-input v-model="dialog.data.remark"></el-input>
                </el-form-item>
                <el-form-item size="small" :label="'Id'" prop="id" v-if="Object.keys(dialog.data).indexOf('id')>=0">
                    <el-input v-model="dialog.data.id"></el-input>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @@click="dialog.visible = false">取 消</el-button>
                <el-button :loading="dialog.updateLoading" type="primary" @@click="updateData">确 认</el-button>
                @*<el-button size="mini" v-if="dialogStatus=='create'" type="primary" @@click="createData">确认</el-button>*@
                @*<el-button size="mini" v-else type="primary" @@click="updateData">确认</el-button>*@
            </div>
        </el-dialog>
    </div>
</div>

@section scripts{
    <script src="~/js/Admin/Pages/CourseAttach/Index.js"></script>
}

