@model Senparc.Ncf.AreaBase.Admin.IAdminPageModelBase
@{
    var currentAccountName = !string.IsNullOrWhiteSpace(User?.Identity?.Name)
        ? User.Identity.Name
        : !string.IsNullOrWhiteSpace(Model?.AdminWorkContext?.UserName)
            ? Model.AdminWorkContext.UserName
            : !string.IsNullOrWhiteSpace(Model?.UserName)
                ? Model.UserName
                : "-";
}
<!-- top navigation -->
<div class="top_nav">
    <div class="nav_menu">
        <nav>
            <div class="nav toggle">
                <a href="javascript:;" id="menu_toggle"><i class="fa fa-bars"></i></a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li class="">
                    <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        我的账号
                        <span class=" fa fa-angle-down"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-usermenu pull-right">
                        <li class="disabled"><a href="javascript:;">当前账号：@currentAccountName</a></li>
                        <li>
                            <a asp-page="/Login" asp-page-handler="Logout">
                                退出登录
                                <i class="fa fa-sign-out pull-right"></i>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</div>
<!-- /top navigation -->
