@model Senparc.Ncf.AreaBase.Admin.AdminXncfModulePageModelBase
@addTagHelper *, MyArea
<li><a href="@Model.XncfRegister.GetAreaHomeUrl()"><i class="fa fa-laptop"></i> 首页</a></li>
<li><a href="@Model.XncfRegister.GetAreaUrl("/Admin/MyArea/About")"><i class="fa fa-bookmark-o"></i> 关于</a></li>
