<?xml version="1.0" encoding="utf-8"?>
<SenparcConfigs>
	<!-- Local 开始 -->
	<SenparcConfig>
		<Id>1</Id>
		<Name>Local-Sqlite</Name>
		<!--本地数据库-->
		<ConnectionStringFull><![CDATA[Filename=:memory:]]></ConnectionStringFull>
		<ApplicationPath><![CDATA[/]]></ApplicationPath>
	</SenparcConfig>
	<SenparcConfig>
		<Id>2</Id>
		<Name>Local-SqlServer</Name>
		<!--本地Demo默认数据库（可在appsettings.json中修改DatabaseName配置）-->
		<ConnectionStringFull><![CDATA[Server=192.168.124.39;Database=NCF_Dapr_Installer; User ID=sa; Password=2wsx@WSX;]]></ConnectionStringFull>
		<!--<ConnectionStringFull><![CDATA[Server=.\;initial catalog=NCF_Dapr1224;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework]]></ConnectionStringFull>-->
		<ApplicationPath><![CDATA[/]]></ApplicationPath>
	</SenparcConfig>
	<SenparcConfig>
		<Id>3</Id>
		<Name>Local-MySql</Name>
		<!--本地Demo默认数据库（可在appsettings.json中修改DatabaseName配置）-->
		<ConnectionStringFull>
			<![CDATA[Server=mysql;Database=NCF;Uid=root;Pwd=123456;]]>
			<!--<![CDATA[Server=localhost;Database=NCF;Uid=root;Pwd=RootPwd4@NeuCharFramework;]]>-->
		</ConnectionStringFull>
		<ApplicationPath><![CDATA[/]]></ApplicationPath>
	</SenparcConfig>
	<!-- Local 结束 -->
</SenparcConfigs>