@inject Microsoft.Extensions.Localization.IStringLocalizer<Senparc.Xncf.Accounts.AccountsResource> AC

    <el-menu-item index="1">
        <a :href="'/Admin/Account/Index?uid='+moduleData.xncfModuleDto.uid"><i class="fa fa-laptop"></i>@AC["Accounts.Home"]</a>
    </el-menu-item>
    <el-menu-item index="2">
        <a :href="'/Admin/Account/DatabaseSample?uid='+moduleData.xncfModuleDto.uid"><i class="fa fa-bookmark-o"></i>@AC["Accounts.DatabaseSample"]</a>
    </el-menu-item>