<?xml version="1.0" encoding="utf-8"?>
<SenparcConfigs>
  <SenparcConfig>
    <Id>1</Id>
    <Name>Client</Name>
    <Host><![CDATA[.\]]></Host>
    <DataBase><![CDATA[NCF]]></DataBase>
    <UserName><![CDATA[sa]]></UserName>
    <Password><![CDATA[123]]></Password>
    <Provider><![CDATA[System.Data.SqlClient]]></Provider>
    <ConnectionString><![CDATA[data source=.\;initial catalog=NCF;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework]]></ConnectionString>

    <!--本地数据库-->
    <ConnectionStringFull><![CDATA[Server=192.168.8.254,14480;Database=NCF; User ID=sa; Password=@WSXzaq1;Application Name=fxu]]></ConnectionStringFull>
    <ApplicationPath><![CDATA[/]]></ApplicationPath>
  </SenparcConfig>
  <SenparcConfig>
    <Id>2</Id>
    <Name>Local</Name>
    <Host><![CDATA[.\]]></Host>
    <DataBase><![CDATA[NCF]]></DataBase>
    <UserName><![CDATA[sa]]></UserName>
    <Password><![CDATA[123]]></Password>
    <Provider><![CDATA[System.Data.SqlClient]]></Provider>
    <ConnectionString><![CDATA[data source=.\;initial catalog=NCF;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework]]></ConnectionString>

    <!--本地数据库-->
    <ConnectionStringFull><![CDATA[Server=.\;Database=NCF; initial catalog=NCF;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework]]></ConnectionStringFull>
    <ApplicationPath><![CDATA[/]]></ApplicationPath>
  </SenparcConfig>
</SenparcConfigs>